<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{title}}</title>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/small-business.css" rel="stylesheet">
    <link href="/css/custom.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/">{{site_name}}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            {{#navbutton}}
            <li class="nav-item {{is_active}}">
              <a class="nav-link" href="{{url}}">{{title}}
                <span class="sr-only">{{raisin}}</span>
              </a>
            </li>
            {{/navbutton}}
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    {{#database_updated}}
    <div class="alert alert-success" role="{{type}}">
  {{{message}}}
  </div>

    {{/database_updated}}


    <div class="container">
    <p></p><p></p>
    {{#content}}
    <div class="row my-6">
      <div class="col-md-8 mb-6 centered">
        <h1>{{bs}}</h1>
        <p>{{{bs_text}}}</p>
        <p>{{bs_text2}}</p>
        {{#content1}}
        <h2>{{bs_smaller}}</h2>
        <p>{{{bs_smaller_text}}}</p>
        {{/content1}}
      </div>
    </div>

    {{/content}}
        {{#card}}
        <div class="col-md-8 mb-6 centered">
          <div class="card h-100">
            <div class="card-body">
              <h2 class="card-title">{{card_title}}</h2>
              <form action="/control/details" method="post">
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="location">Location</label>
                    <input value="{{location}}"type="text" class="form-control" name="location" id="location" placeholder="Olympus Mons, Mars" required="true">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="phonenumber">Phone Number</label>
                    <input value="{{phonenumber}}"type="text" class="form-control" name="phonenumber" id="phonenumber" placeholder="55555 555555" required="true">
                  </div>
                </div>
                <div class="form-group">
                  <label for="address1">Address Line 1</label>
                  <input value="{{address1}}" type="text" class="form-control" name="address1" id="address1" placeholder="121B Baker St" required="true">
                </div>
                <div class="form-group">
                  <label for="address2">Address Line 2</label>
                  <input value="{{address2}}" type="text" class="form-control" name="address2" id="address2" placeholder="Treasure Island" required="true">
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="address_city">City</label>
                    <input value="{{address_city}}" type="text" class="form-control" name="address_city" id="address_city" placeholder="Atlantis" required="true">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="address_postcode">Postcode</label>
                    <input value="{{address_postcode}}"type="text" class="form-control" name="address_postcode" id="address_postcode" placeholder="GA35 3YS" required="true">
                  </div>
                </div>
            </div>
            <div class="card-footer">
              {{#button}}<button type="submit" class="btn btn-primary float-right">{{button_name}}</button>{{/button}}
            </div>
            </form>
          </div>
        </div>
        {{/card}}
        <!-- /.col-md-4 -->

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    {{#footer}}
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; {{website_name}}</p>
      </div>
      <!-- /.container -->
    </footer>
    {{/footer}}

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
